@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-mono: var(--font-roboto-mono);
}

@layer base {
  :root {
    --background: #fdfbf7;
    --foreground: #09090b;
    /* Zinc-950 */
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply antialiased text-gray-900 bg-white;
    font-feature-settings: "ss01", "ss02", "cv01", "cv02";
  }
}

/* Minimalist Dot Grid Background */
@layer utilities {
  .bg-dot-grid {
    background-image:
      radial-gradient(circle at 1px 1px, #e4e4e7 1px, transparent 0);
    background-size: 24px 24px;
  }

  .text-gradient-premium {
    @apply text-gray-900;
  }

  .text-balance {
    text-wrap: balance;
  }
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-200 rounded-full hover:bg-gray-300 transition-colors;
}